
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
         url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'),
         url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'); 
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'),
         url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'),
         url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'); 
  }

* {
    box-sizing: border-box;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

.page_body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 0 none;
}

fieldset li {
    color:white;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.filters {
    background-image: url(../img/main_filter_background.jpg);
    width: 1200px;
    height: 217px;
    margin: 0 auto;
}

.filter_item ul{
    padding: 0;
    margin: 0;
}

.filter_item label {
    padding: 0 30px;
    text-align: center;
}

.filter_item li {
    margin-bottom: 25px;
}

.filter_item legend,
.filter_item p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.filters_house  {
    text-transform: uppercase;
    list-style: none;
}

.filters_house button {
    background: transparent;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    background-image: linear-gradient(to right, #81B3D2 50%, transparent 50%);
    background-position: 0 18px;
    background-repeat: repeat-x;
    background-size: 4px 2px;
    color: #CACACA;
}

.filters_house button.active {
    color: #81B3D2;
    background: transparent;
}

.filters_house button:hover {
    color: #81B3D2;
}

.filters_house button:active {
    color: black;
    background: transparent;
}

.filters_house button:focus {
    outline: none;
}

.found {
    display: block;
}

.filter_of_house {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.filter_of_house h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.filter_of_house span {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.arrows button {
    background-color: transparent;
    fill: #CACACA;
}

.arrows button:hover {
    background-color: transparent;
    fill: black;
}

.arrows button:active {
    background-color: transparent;
    fill: #81B3D2;
}

.arrows button:focus {
    outline: none;
}

.hotels {
    list-style-type: none;
    display: grid;
}

.hotels li {
    display: flex;
    justify-content: space-between;
}

.hotels h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotels span {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.hotels p {
    color: #666666;
    display: block;
    width: 110px;
    height: 27px;
    background-color: #F2F2F2;
    text-align: center;
    vertical-align: auto;
}

.hotel_item a:nth-of-type(1) {
    color: black;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.hotel_item a:nth-of-type(1):hover {
    color: #81B3D2;
}

.hotel_item a:nth-of-type(1):active {
    color: #C4C4C4;
}

.hotel_item a:nth-of-type(2) {
    background-color: #81B3D2;
    width: 110px;
    height: 27px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: auto;
}

.hotel_item a:nth-of-type(2):hover {
    background-color: #669EC0;
}

.hotel_item a:nth-of-type(2):active {
    background-color: #5496BD;
    color: #C4C4C4;
}

.hotel_item a:nth-of-type(3) {
    background-color: #766357;
    width: 142px;
    height: 27px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: auto;
}

.hotel_item a:nth-of-type(3):hover {
    background-color: #604E43;
}

.hotel_item a:nth-of-type(3):active {
    background-color: #503E33;
    color: #C4C4C4;
}

.star-rating {
    list-style: none;
    fill: #81B3D2;
    display: flex;
}

.site_navigation {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 265px 265px 1fr 265px 265px;
    height: 56px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.site_navigation li:nth-child(1) { 
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.site_navigation a,
.site_navigation a:visited {
    color:black;
    text-decoration: none;
}

.site_navigation a:hover,
.site_navigation a:active {
    text-decoration: none;
    color: #81B3D2;
  }

.site_navigation a:active {
    color: #C4C4C4;
}

img {
    max-width: 100%;
    height: auto;
}

.main_navigation {
    font-size: 14px;
    background-color: transparent;
    text-align: center;
    position: relative;
}

.main_header {
    z-index: -10;
}

.main_header_logo {
    position: absolute;
    top: 0;
    left: calc(50% - 69px);
    margin: 0 auto;
    z-index: 9999;
}

.welcome {
    position: relative;
    z-index: 100;
}

.site_navigation {
    list-style: none;
    font-weight: 700;
}

.features {
    position: relative;
    z-index: 500;
}

.feature-item {
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.feature-item h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin-top: 28px;
}

.feature-item p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.feature-item .number {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.invitation_intro {
    position: relative;
    padding-top: 43px;
    padding-bottom: 51px;
}

.invitation_intro h3 {
    padding-bottom: 30px;
    margin-bottom: 0;
    padding-top: 0;
}

.invitation_intro p {
    margin-top: 0;
}

.wrapper {
    text-align: center;
}

.wrapper .feature-item {
    background-color: #81B3D2;
    color: white;
}

.wrapper button:active {
    border: none;
}

.main_feature {
    display: grid;
}

.main_feature:nth-last-of-type(1) {
    grid-template-columns: 1fr 400px;
}

.main_feature:nth-last-of-type(2) {
    grid-template-columns: 400px 1fr;
}

.main_feature h3 {
    margin-top: 47px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.main_feature .number {
    margin-top: 25px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.main_feature p {
    margin-top: 23px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.feature-item:nth-child(6) {
    background-color: #EEEEEE;
}

.advantages li {
    display: block;
    padding-top: 60px;
    padding-bottom: 82px;
}

.advantages {
    display: flex;
    justify-content: space-around;
}

.last_feature {
    display: flex;
    justify-content: space-around;
}

.last_feature h3 {
    margin-top: 47px;
    margin-bottom: 25px;
}

.last_feature li {
    margin-bottom: 54px;
}

.attention {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 30px;
    line-height: 21px;
    font-weight: 700;
}

.attention + p {
    margin-top: 40px;
    margin-bottom: 46px;
}

.booking {
    margin-top: 57px;
}

.booking p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

button {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 26x;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    border: none;
}

.booking button {
    width: 568px;
    height: 86px;
    background-color: #766357;
    border: none;
}

.booking button:hover {
    background-color: #604E43;
    border: none;
}

.booking button:active {
    background-color: #503E33;
    color: #C4C4C4;
    border: none;
}

.booking button:focus {
    outline: none;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 41px;
}

footer ul {
    margin: 0;
    padding: 0;
}

.footer_developed a {
    display: block;
}

.htmlacademy:hover {
    fill: #81B3D2;
}

.footer_developed p {
    margin-right: 8px;
}

.hashtag {
    margin-top: 23px;
    margin-left: 117px;
}

.hashtag, .footer_contacts a {
    display: block;
}

.footer_contacts a {
    margin-top: 9px;
    margin-left: 117px;
}

.footer_contacts {
    text-align: left;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 26x;
    font-weight: 700;
}

.footer_contacts a,
.footer_contacts a:visited,
.footer_contacts a:hover,
.footer_contacts a:active {
    text-decoration: none;
    color: black;
  }

.footer_social {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer_social li {
    margin-right: 6px;
}

.footer_social a{
    display: inline-block;
    background-color: #81B3D2;
    width: 46px;
    height: 48px;
    position: relative;
}

.footer_social a:hover{
    background-color: #669EC0;
}

.footer_social a:active{
    background-color: #5496BD;
}

.footer_button:active svg {
    fill:rgba(255, 255, 255, 0.3);
}

.footer_button svg {
    fill: white;
    position: absolute;
}

.footer_developed_button {
    fill: black;
}

.footer_developed_button:hover svg {
    fill: #81B3D2;
}

.footer_developed_button:active svg {
    fill: #BDBBBC;
}

.twitter {
    top: calc(50% - 9px);
    left: calc(50% - 8px);
}

.fb {
    top: calc(50% - 11px);
    left: calc(50% - 6px);
}

.youtube {
    top: calc(50% - 8px);
    left: calc(50% - 10px);
}

.footer_developed {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 104px;
}

.popup {
    background-color: #fff;
    display: block;
    width: 568px;
    height: 395px;
    border: 1px solid black;
    padding: 55px;
    margin: 0 auto;
}

.search {
    position: relative;
    padding-bottom: 30px;
}

.search label, 
.search input {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26x;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
}

.search label {
    padding-right: 24px;
}

.search input {
    background-color: #F2F2F2;
    width: auto;
    height: 38px;
    color: black;
}

.search input::placeholder {
    color: black;
}

.search svg {
    fill: #A9A9A9;
    position: absolute;
    top: 7px;
    right: 19px;
}

.search:hover svg {
    fill: black;
}

.search:active svg {
    fill: #81B3D2;
}

.search:hover input {
    background-color: #EBEBEB;
}

.search input:focus {
    background-color: transparent;
    outline: 2px solid #E5E5E5;
}

.number_of_people label,
.number_of_people input {
    border: none;
    font-family: 'PT Sans', Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 26x;
    font-weight: 700;
    text-transform: uppercase;
}

.number_of_people input {
    width: 114px;
    height: 38px;
    text-align: center;
    background-color: #F2F2F2;
}

.number_of_people input:hover {
    background-color: #EBEBEB;
}

.number_of_people input:focus {
    background-color: transparent;
    outline: 2px solid #E5E5E5;
}


.number_of_people input::placeholder {
    color: black;
}

.number_of_people button {
    border: none;
    color: #A9A9A9;
}

.number_of_people button:hover {
    color: #000000;
    background: transparent;
}

.number_of_people button:active {
    color: #81B3D2;
    outline: none;
    background: transparent;
}

.number_of_people button:focus {
    outline: none;
    background: transparent;
}

.find {
    text-transform: uppercase;
    color: white;
    background-color: #81B3D2;
    width: 458px;
    height: 58px;
    border: none;
}

.find:hover {
    background-color: #669EC0;
}

.find:active {
    background-color: #5496BD;
    color: #BDBBBC;
}

.find:focus {
    outline: none;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    background: url(../img/main_filter_checkbox-off.svg) no-repeat;
}

input[type="checkbox"]:checked + label {
    background: url(../img/main_filter_checkbox-on.svg) no-repeat;
}

input[type="checkbox"] + label {
    background: url(../img/main_filter_checkbox-off.svg) no-repeat;
}

input[type="checkbox"]:checked:disabled + label {
    background: url(../img/checkbox-on_block.svg) no-repeat;
    fill: #6A6A6A;
}

input[type="checkbox"]:disabled + label {
    background: url(../img/checkbox-off.svg) no-repeat;
    fill: #6A6A6A;
}

.filter_item ul {
    list-style: none;
}

.image_wrapper {
    margin: 0 auto;
    position: relative;
    background-color: #81b3d2;
}
.image_wrapper img:first-child {
    position: relative;
    display: block;
    margin: 0 auto;
}

.image_wrapper img:nth-child(2) {
    display: block;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -229px;
    margin-top: -176px;
}

.image_wrapper img:nth-child(3) {
    display: block;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 453px;
}

.house_filter {
    display: grid;
    grid-template-columns: 326px 326px 1fr;
}

.house_filter fieldset {
    margin: 0;
    padding: 0;
}

.house_filter:nth-child(1) fieldset {
    top: 27px;
    left: 72px;
}

.house_filter>button {
    background-color: transparent;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2px;
    width: 137px;
    height: 36px;
}

.house_filter>button:hover {
    color: black;
    background-color: white;
}